/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
/*
Theme Name: Premise
Theme URL: http://www.copyblogger.com
Description: Premise is a theme designed specifically for landing page display. 
Author: CopyBlogger Media LLC
Author URI: http://www.copyblogger.com
Version: 1.0
*/
body.premise-theme {
	background: #F3F3F3;
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0 auto 0;
	line-height: 24px;
}

/***** Hyperlinks ********************/
.premise-theme a,
.premise-theme a:visited {
	color: #991200;
	text-decoration: underline;
}

.premise-theme a:hover {
	background: #ffffff;
	color: #991200;
	text-decoration: none;
}

.premise-theme a img {
	border: none;
}

.premise-theme a:focus,
.premise-theme a:hover,
.premise-theme a:active {
	outline: none;
}

/***** Wrap ********************/
.premise-theme #wrap {
	background: #FFFFFF;
	border: 5px solid #EDEDED;
	margin: 15px auto 0;
	width: 940px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	overflow: hidden;
}

/***** Header  ********************/
.premise-theme #header {
	float: left;
}

.premise-theme #header .wrap {
	overflow: hidden;
}

.premise-landing-header .wrap {
	margin: 0 auto;
}
.premise-theme #title {
	font-size: 36px;
	font-weight: normal;
	line-height: 42px;
	margin: 0;
	padding: 40px 0 0 20px;
}

.premise-theme #title a,
.premise-theme #title a:hover {
	color: #222222;
	text-decoration: none;
}

#image-area {
	clear: both;
	overflow: hidden;
}

/** Headline Area **/
.premise-theme #content .headline-area {
	text-align: center;
}

/***** Inner ********************/
.premise-theme #inner {
	clear: both;
	padding: 10px;
}

/***** Content ********************/
.premise-theme #content {
	margin: 0;
	padding: 0;
	border: none;
}

.premise-theme #content blockquote {
	background: #F3F3F3;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0 15px 15px 15px;
	padding: 10px 20px 0 15px;
	border: 1px solid #DDDDDD;
	overflow: hidden;
}

.premise-theme #content blockquote.alignleft,
.premise-theme #content blockquote.alignright,
.premise-theme #content blockquote.aligncenter {
	width: 50%;
}

.premise-theme #content blockquote.aligncenter {
	margin: 0 auto 15px;
}

.premise-theme #content .notice {
	background: #ffffe6;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0 15px 15px 15px;
	overflow: auto;
	padding: 5px 25px;
	border: 1px solid #dddddd;
}

.clear {
	clear: both;
	display: block;
}

/***** Headlines ********************/
.premise-theme #content h1,
.premise-theme #content h2,
.premise-theme #content h3,
.premise-theme #content h4,
.premise-theme #content h5,
.premise-theme #content h6 {
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	text-decoration: none;
	margin: 15px 0 10px 0;
	padding: 0;
}

.premise-theme #content h1 {
	font-size: 24px;
	margin: 15px 0 10px 0;
}

.premise-theme #content h2 {
	font-size: 22px;
	margin: 15px 0 10px 0;
}

.premise-theme #content h2 a,
.premise-theme #content h2 a:visited {
	color: #222222;
	text-decoration: none;
}

.premise-theme #content h2 a:hover {
	color: #444444;
	text-decoration: none;
}

.premise-theme #content h3 {
	font-size: 20px;
}

.premise-theme #content h4 {
	font-size: 18px;
	font-style: italic;
}

.premise-theme #content h5 {
	font-size: 16px;
}

.premise-theme #content h6 {
	font-size: 14px;
}

/***** Unordered/Ordered Lists ********************/
.premise-theme #content ul, 
.premise-theme #content ol {
	margin: 0;
	padding: 0;
}

.premise-theme #content ul li, 
.premise-theme #content ol li {
	margin: 0 0 15px 20px;
	padding: 0;
}

.premise-theme #content blockquote ul, 
.premise-theme #content blockquote ol {
	margin: 0;
	padding: 15px 25px;
}

.premise-theme .entry-content {
	clear: both;
}

.premise-theme .container-border {
	border: 1px solid #ffffff;
}
.container-border {
	padding: 10px;
}

/***** Video Page **/
.premise-theme .entry-video-video-embed.hide {
	background: #ffffff;
	border: 5px solid #999999;
}
.entry-video-video-embed.hide {
	display: none;
	padding: 10px;
}

.premise-theme .entry-video {
	background: #f3f3f3;
	border: 1px solid #dddddd;
}

.entry-video {
	margin: 0 0 20px 0; 
}

.entry-video .container-border { 
	border: none; 
}

.entry-video-align-center .entry-video-content {
	display: none;
}

.entry-video-align-center .entry-video-video {
	display: block;
	margin: 0 auto;
	text-align: center;	
}

.entry-video-align-right .entry-video-video {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.entry-video-align-right .entry-video-content {

}

.entry-video-align-left .entry-video-video {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.entry-video-align-left .entry-video-content {

}
.entry-video-video-embed a.close {
	background: #900;
	color:#FFF;
	font-weight: bold;
	line-height: 14px;
	margin-left: 559px;
	padding: 1px 4px;
	position: inherit;
	text-decoration: none;
	top: 55px;
	z-index: 10010;
}
.entry-video-video-embed a.close:hover {
	background: #FFF;
	color:#900;
}
/***** Opt In Page **/
.premise-theme #content .entry-optin {
	background: #f3f3f3;
	border: 1px solid #dddddd;
	margin: 10px 0 15px;
}
#content .entry-optin {
	float: left; 
}
#content .entry-optin-align-center .entry-optin-content {
	display: none;
}

#content .entry-optin-optin {
	margin-bottom: 20px;
	width: 400px;
}

.entry-optin-align-center .entry-optin-optin {
	display: block;
	margin: 0 auto;
	text-align: center;	
}

.entry-optin-align-right .entry-optin-optin {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.entry-optin-align-right .entry-optin-content {
}

.entry-optin-align-left .entry-optin-optin {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.entry-optin-align-left .entry-optin-content {
	float: right;
}

#content .entry-optin-optin .optin-header {
	line-height: 1.3;
}

#content .optin-box {
	max-width: 400px;
	padding: 15px 0 10px;
}

#content .optin-box ul, #content .form-container {
	margin: 0;
	padding: 0;
}

#content .optin-box form.notice {
	background: transparent;
	border: 0;
	float: none;
	padding: 0;
}

#content form.notice.aligncenter {
	width: 320px;
}

#content .optin-box ul li, #content .form-container li {
	list-style-type: none;
	margin-bottom: 5px;
}

#content .optin-box ul li {
	margin: 0 0 15px 0;
}

#content input[type=text], #content input.text {
	padding: 5px;
}

#content .optin-box input[type=text], 
#content .optin-box input.text, 
#content .form-container input[type=text], 
#content .form-container input.text {
	width: 150px;
}

#content .optin-box label, 
#content .form-container label {
	clear: left;
	display: block;
	float: left;
	margin-right: 10px;
	text-align: right;
	width: 150px;
}
#content .form-container .premise-radio {
	float: left;
	width: 150px;
}
#content .form-container li li label {
	clear: none;
	display: inline;
	float: none;
}
#content .optin-box input[type=submit], 
#content .optin-box input.submit, 
#content .form-container input[type=submit], 
#content .form-container input.submit {
	margin-left: 110px;
}

#content .premise-submit {
	border: none !important;
	cursor: pointer;
}

.signup-form-messages {
	margin: 0 0 10px;
}

.signup-form-message.error {
	color: #D54E21;
}
#content  .form-container .premise-address {
	clear: left;
}
#content  .form-container .premise-address span.subfield {
	clear: left;
	display: inline-block;
	margin-top: 5px;
}
#content  .form-container .premise-address select {
	width: 150px;
}
#content  .form-container .premise-date input[type=text] {
	width: 30px;
}
/***** Pricing Table **/

.pricing-table {
	margin: 0 auto;
	width: 100%;
}

.pricing-table-container {
	margin: 10px 0;	
}

.pricing-table .pricing-table-column  {
	float: left;
	margin-right: 10px;
}

.pricing-table .pricing-table-column.last {
	margin-right: 0;
}

#content .pricing-table-column-features ul {
	margin: 0;
}

#content .pricing-table-column-features ul li {
	margin: 0 0 5px;
}

#content .pricing-table .pricing-table-column ul li.nothing {
	background: transparent;
	list-style-type: none;
	list-style: none;
}

#content .pricing-table-column-header {
	font-weight: bold;
}

#content .pricing-table-call-to-action {
	margin: 20px 0 10px 0;
}

#content .pricing-table-call-to-action a, 
#content .pricing-table-call-to-action a:hover {
	font-weight: bold;	
	text-decoration: none;
}
/* pricing bullets */
#content .pricing-table .pricing-table-column ul, 
#content .pricing-table .pricing-table-column ul li {
	list-style: none;
	padding-left: 25px;
}
#content .pricing-table-default .pricing-table-column ul, 
#content .pricing-table-default .pricing-table-column ul li {
	list-style: inherit;
}
#content .pricing-table-default .pricing-table-column ul li, 
#content .pricing-table-none .pricing-table-column ul li {
	padding-left: 0;
}
#content .pricing-table-checkmark-green .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/checkmark-green.png) no-repeat 0 5px;
}
#content .pricing-table-checkmark-blue .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/checkmark-blue.png) no-repeat 0 5px;
}
#content .pricing-table-checkmark-red .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/checkmark-red.png) no-repeat 0 5px;
}
#content .pricing-table-checkmark-yellow .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/checkmark-yellow.png) no-repeat 0 5px;
}
#content .pricing-table-arrow-green .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/arrow-green.png) no-repeat 0 5px;
}
#content .pricing-table-arrow-blue .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/arrow-blue.png) no-repeat 0 5px;
}
#content .pricing-table-arrow-red .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/arrow-red.png) no-repeat 0 5px;
}
#content .pricing-table-arrow-yellow .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/arrow-yellow.png) no-repeat 0 5px;
}
#content .pricing-table-star-green .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/star-green.png) no-repeat 0 5px;
}
#content .pricing-table-star-blue .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/star-blue.png) no-repeat 0 5px;
}
#content .pricing-table-star-red .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/star-red.png) no-repeat 0 5px;
}
#content .pricing-table-star-yellow .pricing-table-column ul li {
	background: transparent url(/wp-content/plugins/premise/themes/premise/images/bullets/star-yellow.png) no-repeat 0 5px;
}

/***** Coda Slider **/ /* Most common stuff you'll need to change */
.coda-slider-wrapper {
	padding: 20px 0
}

.premise-theme .coda-slider {
	background: #ebebeb
}

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.coda-slider-no-js .coda-slider {
	height: 200px;
	overflow: auto !important;
	padding-right: 20px
}

/* Change the width of the entire slider (without dynamic arrows) */
.premise-theme .coda-slider,
.premise-theme .coda-slider .panel {
	width: 830px
}

.coda-slider {
	margin: 0 0 0 10px;
}

body.premise-theme #content .coda-slider .panel blockquote {
	background: #ffffff;
}

/* Change margin and width of the slider (with dynamic arrows) */
.coda-slider-wrapper.arrows .coda-slider,
.coda-slider-wrapper.arrows .coda-slider .panel {
	width: 830px
}

.coda-slider-wrapper.arrows .coda-slider {
	margin: 0 10px
}

#content .coda-nav ul { 
	margin: 0; 
	padding: 0; 
}
#content .coda-nav li { 
	margin: 0 3px 0 0; 
}
#content .coda-slider-wrapper .container-border { 
	padding: 0; 
}
#content .coda-slider .container-border { 
	border: none;
	float: left; 
}

/* Arrow styling */
.premise-theme .coda-nav-left a,
.premise-theme .coda-nav-right a {
	background: #222222;
	color: #fff;
}

.coda-nav-left a,
.coda-nav-right a {
	padding: 5px;
	width: 25px;
}

.coda-nav-left-blank, 
.coda-nav-right-blank {
	float: left;
	width: 25px;
	padding: 5px;
}

.premise-theme .coda-nav-left a:hover, 
.premise-theme .coda-nav-right a:hover {
	color: #fff;
}

/* Tab nav */
.coda-nav ul, 
.coda-nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.coda-nav ul {
	padding: 6px 0;
}

.coda-nav ul li {
	display: inline;
	margin-right: 3px;
}

.coda-nav ul li.last {
	margin-right: 0;
}

.coda-nav ul li a {
	display: inline-block;
}

.premise-theme .coda-nav ul li a.current {
	background-color: #39c;
}

/* Panel padding */
.coda-slider .panel-wrapper {
	padding: 20px
}

.coda-slider .panel-wrapper h2.title {
	display: none;
}

/* Preloader */
.coda-slider p.loading {
	padding: 20px;
	text-align: center;
}

/* Don't change anything below here unless you know what you're doing */
	/* Tabbed nav */
.coda-nav ul {
	clear: both;
	display: block;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

.coda-nav ul li {
	display: inline;
}

.premise-theme .coda-nav ul li a {
	background: #222222;
	color: #fff;
}
.coda-nav ul li a {
	padding: 10px 8px;
	text-decoration: none;
}


/* Miscellaneous */
.coda-slider-wrapper {
	clear: both;
	overflow: auto;
}

.coda-slider {
	float: left;
	overflow: hidden;
	position: relative;
}

.coda-slider .panel {
	display: block;
	float: left;
}

.coda-slider .panel-container {
	position: relative;
}

.coda-nav-left {
	float: left;
}
.coda-nav-right {
	float: right;
}

.coda-nav-left a,
.coda-nav-right a {
	display: block;
	text-align: center;
	text-decoration: none;
}


/***** Images ********************/
.premise-theme #content img, 
.premise-theme #content p img {
	max-width: 100%;
}

.premise-theme #content .post-image {
	margin: 0 10px 10px 0;
	padding: 4px;
	border: 1px solid #DDDDDD;
}

.premise-theme img.centered,
.premise-theme .aligncenter {
	display: block;
	margin: 0 auto 10px;
}

.premise-theme img.alignnone {
	margin: 0 0 10px 0;
	display: inline;
}

.premise-theme img.alignleft {
	margin: 0 10px 10px 0;
	display: inline;
}

.premise-theme img.alignright {
	margin: 0 0 10px 10px;
	display: inline;
}

.premise-theme .alignleft {
	float: left;
	margin: 0 10px 0 0;
}

.premise-theme .alignright {
	float: right;
	margin: 0 0 0 10px;
}

.premise-theme .wp-caption {
	background: #f3f3f3;
	padding: 0;
	text-align: center;
}

.premise-theme .wp-caption img {
	border: 5px solid #e5e5e5;
}

.premise-theme .wp-caption p.wp-caption-text {
	color: #646464;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	line-height: 24px;
	padding: 5px !important;
}

.premise-theme img.wp-smiley,
.premise-theme img.wp-wink {
	float: none;
	border: none;
}

/***** Post Navigation **********/

/***** Buttons ********************/
.premise-theme #content .gform_footer .button, 
.premise-theme #content .button, 
.premise-theme #content input[type=submit], 
.premise-theme #content input.submit {
	background: #444444;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal !important;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
	padding: 4px 6px 4px 6px !important;
}

.premise-theme #content .gform_footer .button:hover, 
.premise-theme #content .button:hover, 
.premise-theme #content input[type=submit]:hover, 
.premise-theme #content input.submit:hover {
	background: #222222;
}

/***** Contact Form ********************/
.premise-theme .gform_wrapper input, 
.premise-theme .gform_wrapper textarea, 
.premise-theme .gform_wrapper select {
	background: #F3F3F3;
	color: #222222 !important;
	font-family: Arial, Helvetica, sans-serif
		!important;
	font-size: 12px !important;
	padding: 4px 0 4px 5px !important;
	border: 1px solid #DDDDDD;
}

.premise-theme .gform_footer input.button {
	color: #FFFFFF !important;
}

.premise-theme .gform_wrapper .ginput_complex label {
	font-size: 12px !important;
}

.premise-theme .gform_wrapper li,.gform_wrapper form li {
	background: none !important;
	margin: 0 0 10px 0 !important;
}

.premise-theme .gform_wrapper .gform_footer {
	border: none !important;
}

/***** Footer ********************/
.premise-theme #footer {
	width: 800px;
	font-size: 13px;
	margin: 0 auto 0;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
	overflow: hidden;
	clear: both;
}

.premise-theme #footer a,
.premise-theme #footer a:visited {
	color: #222222;
	text-decoration: none;
}

.premise-theme #footer a:hover {
	color: #222222;
	text-decoration: underline;
}

.premise-theme #footer p {
	margin: 0;
	padding: 0;
}

.premise-theme #footer .gototop {
	width: 200px;
	float: left;
	margin: 0;
	padding: 0;
}

.premise-theme #footer .creds {
	margin: 0;
	padding: 0;
	text-align: right;
}

#premise-final-edit-post-link {
	clear: both;
}

/*=== SOCIAL SHARING ===*/

.premise-theme .teaser-share-box {
	border: 3px solid #deedf1;
	border-radius: 3px;
	color: #25454e;
}

.teaser-share-box {
	margin: 10px auto;
	text-align: center;
	width: 371px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

.premise-theme .teaser-share-box-inside {
	background: #eef8fb;
	border: 1px solid #ffffff;
}

.teaser-share-message {
	font-weight: bold;
	margin: 0;
	padding: 20px 0 0;
}

.teaser-share-message p {
	margin: 0 0 20px;
}

.teaser-share-icons {
	margin: 0 auto;
	padding: 0 0 20px;
	width: 200px;
}

.teaser-share-single-icon {
	width: 100px;
}

.premise-theme .teaser-share-icons a {
	background: #ffffff;
	border-radius: 4px;
	border: 1px solid #cddbdf;
	border-width: 0 1px 1px 0;
}

.teaser-share-icons a {
	display: block;
	float: left;
	margin-right: 10px;
	padding: 15px 0;
	text-decoration: none;
	width: 94px;
}

.premise-theme .teaser-share-icons a:hover {
	background: #efefef;
}

.teaser-share-icons a span {
	display: block;
}

.teaser-share-clickthrough {
	display: none;
}

#facebook-share-icon {
	margin-right: 0;
}

/** AWEBER WORK AROUNDS **/
.optin-box center {
	margin:0 !important; 
	text-align:left !important;
}
.optin-box td {
	margin:0 !important; 
	text-align:left !important;
}
#content .optin-box {
	overflow: hidden;
}
/* This file is auto-generated from the settings page. Any direct edits here will be lost if the settings page is saved */
body.premise-theme {
	background-color: ;
	background-position: top center;
	background-repeat: no-repeat;
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
}
.premise-theme a, .premise-theme a:visited {
	color: #035492;
	text-decoration: underline;
}
.premise-theme a:hover {
	background-color: #ffffff;
	color: #035492;
	text-decoration: none;
}
.premise-theme #wrap {
	width: 800px;
	background-color: #ffffff;
	margin: 15px auto 0;
	border: 5px solid #eeeeee;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.premise-theme #inner {
	padding: 20px;
}
.premise-theme #header {
	background-color: #ffffff;
}
#image-area {
	max-height: 230px;
	width: 800px;
}
.premise-theme #content .headline-area {
	background-color: #ffffff;
	background-position: string center;
	background-repeat: no-repeat;
	margin-top: 1px;
	margin-bottom: 30px;
	padding: 0;
}
#content .headline-area .entry-title {
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
	text-align: center;
}
#content .headline-area .entry-subtitle {
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}
.premise-theme #content blockquote {
	color: #333333;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	padding: 30px 15px 30px 15px;
}
.premise-theme #content .notice {
	color: #48310e;
	font-family: Georgia, serif;
	font-size: 16px;
	font-style: italic;
	background-color: #f9f2d6;
	border: 1px solid #eada9c;
	padding: 15px 25px 15px 25px;
}
.premise-theme #content h1, .premise-theme #content h2, .premise-theme #content h3, .premise-theme #content h4, .premise-theme #content h5, .premise-theme #content h6 {
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-transform: none;
}
.premise-theme #content h1 {
	font-size: 26px;
	color: #222222;
}
.premise-theme #content h2 {
	font-size: 22px;
	color: #222222;
}
.premise-theme #content h3 {
	font-size: 20px;
	color: #222222;
}
.premise-theme #content h4 {
	font-size: 18px;
	color: #222222;
}
.premise-theme #footer {
	color: #555555;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	width: 800px;
}
.premise-theme #footer .creds {
	text-align: center;
}
.premise-theme #footer a, .premise-theme #footer a:visited {
	color: #555555;
	text-decoration: none;
}
.premise-theme #footer a:hover {
	color: #555555;
	text-decoration: underline;
}
#content input[type=text], #content input.text {
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	color: #666666 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-style: normal;
}
.premise-theme #content .gform_footer .button, .premise-theme #content .button, .premise-theme #content input[type=submit], .premise-theme #content input.submit {
	background-color: #444444;
	border: 1px solid #dddddd !important;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 13px !important;
	padding: 5px !important;
	text-transform: uppercase;
}
.premise-theme #content .gform_footer .button:hover, .premise-theme #content .button:hover, .premise-theme #content input[type=submit]:hover, .premise-theme #content input.submit:hover {
	background-color: #222222;
}
.premise-theme .coda-slider {
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #222222;
	padding: ;
}
.premise-theme .coda-nav-left a, .premise-theme .coda-nav-right a {
	background-color: #035492;
	color: #ffffff;
}
.premise-theme .coda-nav ul li a {
	background-color: #e5e5e5;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-khtml-border-top-left-radius: 10px;
	-khtml-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	color: #222222;
}
.premise-theme .coda-nav ul li a.current {
	background-color: #035492;
	color: #ffffff;
}
.premise-theme .entry-video {
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #222222;
}
.premise-theme .entry-video .container-border {
	padding: 20px;
}
#content .entry-video h1, #content .entry-video h2, #content .entry-video h3, #content .entry-video h4, #content .entry-video h5, #content .entry-video h6 {
	color: #222222;
}
.premise-theme #content .entry-optin {
	background-color: #f3f3f3;
	border: 1px solid #dddddd;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #222222;
	padding: 20px;
}
#content .entry-optin h1, #content .entry-optin h2, #content .entry-optin h3, #content .entry-optin h4, #content .entry-optin h5, #content .entry-optin h6 {
	color: #222222;
}
#content .entry-optin-optin {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	color: ;
	border-radius: 0;
	padding: 1px;
}
#content .optin-header {
	background-color: #035492;
	color: #ffffff;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 24px;
	padding: 10px;
}
#content .optin-box {
	background-color: #ffffff;
	color: #222222;
	padding: 15px;
}
#content .optin-box input[type=submit], #content .optin-box input.submit {
	background-color: #4d8a05;
	color: #ffffff;
	padding: 9px;
}
#content .optin-box input[type=submit]:hover, #content .optin-box input.submit:hover {
	background-color: #b82300;
}
#content .pricing-table-container {
}
#content .pricing-table-column {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 1px;
}
#content .pricing-table-column-header {
	background-color: #035492;
	color: #ffffff;
	font-family: Georgia, serif;
	font-size: 22px;
	font-style: normal;
	font-weight: normal;
	padding: 15px;
	text-align: center;
}
#content .pricing-table-column-features {
	background-color: #f3f3f3;
	color: #222222;
	padding: 15px;
}
#content .pricing-table-call-to-action {
	text-align: center;
}
#content .pricing-table-call-to-action a {
	background-color: #4d8a05;
	color: #ffffff;
	padding: 9px;
	text-align: center;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#content .pricing-table-call-to-action a:hover {
	background-color: #eb7028;
}
.premise-theme .teaser-share-box {
	border: 3px solid #deedf1;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #222222;
}
.premise-theme .teaser-share-box-inside {
	background-color: #eef8fb;
	border: 1px solid #ffffff;
}
.premise-theme .teaser-share-icons a {
	background: ;
	border-color: #cddbdf;
	color: #222222;
}
.premise-theme .teaser-share-icons a:hover {
	background: ;
	border-color: #cddbdf;
	color: #222222;
}


div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

