/**
 * Public SlideDeck CSS
 * 
 * All public CSS needed for globally applicable SlideDeck features
 */

/*
Copyright 2012 digital-telepathy  (email : support@digital-telepathy.com)

This file is part of SlideDeck.

SlideDeck is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SlideDeck is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SlideDeck.  If not, see <http://www.gnu.org/licenses/>.
*/
.slidedeck { z-index: 2; }

.slidedeck dd .sd2-slide-background {
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
}

.slidedeck-frame {
    position: relative;
}

/* Navigation Style Outline Overrides */
.slidedeck-frame a.deck-navigation,
.slidedeck-frame .vertical-slide-nav a,
.slidedeck-cover .slidedeck-cover-nav-button {
    outline: none;
    border: 0;
}
.slidedeck-frame a.deck-navigation:active,
.slidedeck-frame a.deck-navigation:focus,
.slidedeck-frame a.deck-navigation::-moz-focus-inner,
.slidedeck-frame .vertical-slide-nav a:active,
.slidedeck-frame .vertical-slide-nav a:focus,
.slidedeck-frame .vertical-slide-nav a::-moz-focus-inner,
.slidedeck-cover .slidedeck-cover-nav-button:active,
.slidedeck-cover .slidedeck-cover-nav-button:focus,
.slidedeck-cover .slidedeck-cover-nav-button::-moz-focus-inner {
    -moz-outline-style: none;
    outline: none;
}
.slidedeck-frame a.deck-navigation::-moz-focus-inner,
.slidedeck-frame .vertical-slide-nav a::-moz-focus-inner,
.slidedeck-cover .slidedeck-cover-nav-button::-moz-focus-inner { border: 0; }
/* End of Navigation Style Outline Overrides */

.slidedeck-overlays {
    position: absolute;
    overflow: hidden;
    top: 15px;
    right: 15px;
    padding-right: 27px;
    color: #fff;
    z-index: 100;
    height: 27px;
    width: 0;
    text-align: right;
	background: rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 4px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0 4px 7px rgba(0,0,0,0.6);
    box-shadow: 0 4px 7px rgba(0,0,0,0.6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: width 0.5s, opacity 0.5s, background-color 0.5s;
    -moz-transition: width 0.5s, opacity 0.5s, background-color 0.5s;
    -o-transition: width 0.5s, opacity 0.5s, background-color 0.5s;
    transition: width 0.5s, opacity 0.5s, background-color 0.5s;
}
.sd2-overlays-open .slidedeck-overlays {
    width: auto;
    -webkit-transition: width 0s, opacity 0.5s, background-color 0.5s;
    -moz-transition: width 0s, opacity 0.5s, background-color 0.5s;
    -o-transition: width 0s, opacity 0.5s, background-color 0.5s;
    transition: width 0s, opacity 0.5s, background-color 0.5s;
}
.sd2-overlays-open .slidedeck-overlays { padding-right: 0; }
.slidedeck-overlays.left {
	padding-left: 27px;
	padding-right: 0;
	text-align: left;
	right: auto;
}
.sd2-overlays-open .slidedeck-overlays.left { padding-left: 0; }
.slidedeck-overlays.open {
    width: auto;
    background: #000;
}
.slidedeck-overlays:hover { background: #000; }
/* IE6-8 */
.slidedeck-frame.show-overlay-never .slidedeck-overlays { display: none; }
.slidedeck-frame.show-overlay-hover .slidedeck-overlays {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    -ms-filter: "Alpha(opacity=0)";
}
.slidedeck-frame.show-overlay-hover:hover .slidedeck-overlays,
.slidedeck-frame.show-overlay-hover.hover .slidedeck-overlays {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: Alpha(opacity=100);
    -ms-filter: "Alpha(opacity=100)";
    background: #000;
}
.slidedeck-overlays .slidedeck-overlays-showhide {
	position: absolute;
	overflow: hidden;
	display: block;
	right: 0;
	top: 0;
	width: 27px;
	height: 0;
	padding-top: 27px;
	text-indent: -999em;
	line-height: 27px;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;
	transition: background-color 0.25s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}
.slidedeck-overlays.left .slidedeck-overlays-showhide {
	right: auto;
	left: 0;
	border-left: none;
    border-right: 1px solid #222;
}
.sd2-overlays-open .slidedeck-overlays-showhide { display: none; }
.slidedeck-overlays .slidedeck-overlays-showhide:hover { background-color: #000; }
.slidedeck-overlays .slidedeck-overlays-showhide .close-icon,
.slidedeck-overlays .slidedeck-overlays-showhide .open-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 27px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: Alpha(opacity=100);
    -ms-filter: "Alpha(opacity=100)";
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/overlays-sprite.png) 0 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.slidedeck-overlays .slidedeck-overlays-showhide .close-icon { background-position: 0 -27px; }
.slidedeck-overlays.open .slidedeck-overlays-showhide .open-icon,
.slidedeck-overlays .slidedeck-overlays-showhide .close-icon {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    -ms-filter: "Alpha(opacity=0)";
}
.slidedeck-overlays.open .slidedeck-overlays-showhide .close-icon {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: Alpha(opacity=100);
    -ms-filter: "Alpha(opacity=100)";
}
.slidedeck-overlays .slidedeck-overlays-wrapper {
	position: absolute;
	display: block;
	top: 0;
	right: 29px;
	height: 27px;
	width: 1000px;
}
.sd2-overlays-open .slidedeck-overlays-wrapper { right: 0; }
.slidedeck-overlays.left .slidedeck-overlays-wrapper {
	left: 29px;
	right: auto;
}
.sd2-overlays-open.left .slidedeck-overlays-wrapper { left: 0; }
.slidedeck-overlays .slidedeck-overlay {
	position: relative;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	padding-right: 13px;
	padding-left: 30px;
	font: bold 10px sans-serif;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;
	transition: background-color 0.25s;
}
.slidedeck-overlays .slidedeck-overlay:hover { background-color: #397fdd; }
.slidedeck-overlays .slidedeck-overlay .slidedeck-overlay-label {
	display: inline-block;
	height: 27px;
	line-height: 27px;
}
.slidedeck-overlays .slidedeck-overlay:first-child {
	border-left: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.slidedeck-overlays .slidedeck-overlay .slidedeck-overlay-logo {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 17px;
	height: 17px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/overlays-sprite.png);
}
.slidedeck-overlays .slidedeck-overlay-type-facebook .slidedeck-overlay-logo { background-position: -5px -59px; }
.slidedeck-overlays .slidedeck-overlay-type-twitter .slidedeck-overlay-logo { background-position: -5px -86px; }
.slidedeck-overlays .slidedeck-overlays-showhide:active,
.slidedeck-overlays .slidedeck-overlays-showhide:focus,
.slidedeck-overlays .slidedeck-overlays-showhide::-moz-focus-inner,
.slidedeck-overlays .slidedeck-overlay:active,
.slidedeck-overlays .slidedeck-overlay:focus,
.slidedeck-overlays .slidedeck-overlay::-moz-focus-inner {
    -moz-outline-style: none;
    outline: none;
}
.slidedeck-overlays .slidedeck-overlays-showhide::-moz-focus-inner,
.slidedeck-overlays .slidedeck-overlay::-moz-focus-inner { border: 0; }

.slidedeck-cover {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.slidedeck-cover .slidedeck-cover-cta .cap1,
.slidedeck-cover .slidedeck-cover-cta .cap2,
.slidedeck-cover .slidedeck-cover-cta .cap1-image{
    display: none;
}
.slidedeck-cover .slidedeck-cover-wrapper {
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: -100px;
    padding-left: 100px;
    width: 100%;
    color: #fff;
    font-size: 10px;
}
.slidedeck-frame.sd2-medium .slidedeck-cover .slidedeck-cover-wrapper { font-size: 7px; }
.slidedeck-frame.sd2-small .slidedeck-cover {
    display: none;
}
.slidedeck-cover.slidedeck-cover-back .slidedeck-cover-title {
    margin-bottom: .475em;
}
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.slidedeck-cover-peek .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,1);
    -o-box-shadow: 0 0 25px rgba(0,0,0,1);
    box-shadow: 0 0 25px rgba(0,0,0,1);
}
.slidedeck-cover-back .slidedeck-cover-wrapper {
    left: auto;
    right: -999em;
    margin-left: 0;
    padding-left: 0;
    margin-right: -100px;
    padding-right: 100px;
}
.slidedeck-cover-peek .slidedeck-cover .slidedeck-cover-wrapper { width: 80%; }

.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-bodycopy { font-size: 1em; }
.slidedeck-frame.sd2-small .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-bodycopy { display: none; }
.slidedeck-cover .slidedeck-cover-mask {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
}
.slidedeck-cover-back .slidedeck-cover-mask {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    -ms-filter: "Alpha(opacity=0)";
}
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-copy {
    position: relative;
    z-index: 10;
    height: 100%;
}
.slidedeck-cover .slidedeck-cover-copy .slidedeck-cover-title {
    display: block;
	font-size: 4em;
    font-weight: normal;
    line-height: 1.2em;
}
.slidedeck-frame.sd2-small .slidedeck-cover-back .slidedeck-cover-copy .slidedeck-cover-title { margin-bottom: 5px; }
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-outer {
    position: relative;
    z-index: 100;
    overflow: hidden;
    top: 0;
    bottom: 0;
    height: 100%;
    margin-left: 6%;
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.8em;
}
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-outer {
    display: table;
    position: static;
}
.msie-7 .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-copy {
    position: absolute;
    right: 0;
    left: 20%;
}
.msie-7 .slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-copy {
    right: 20%;
    left: 0;
}
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle { top: 50%; }
.slidedeck-frame.sd2-small .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle { padding-right: 30px; }
.slidedeck-frame.sd2-small .slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-middle { padding-left: 30px; }
.slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-middle {
    padding-left: 80px;
}
.msie-7 .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle {
    position: absolute;
}
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.msie-7 .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle { width: auto; }
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-inner {
    position: relative;
    top: -50%;
}
.slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-inner {
    position: static;
}
.msie-7 .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-inner {
    position: relative;
}

.slidedeck-cover .slidedeck-cover-curatedby {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 6%;
    bottom: 6%;
    font-size: 1em;
    font-family: sans-serif;
    color: #a1a1a1;
}
.slidedeck-frame.sd2-medium .slidedeck-cover .slidedeck-cover-curatedby { font-size: 12px; } 
.slidedeck-frame.sd2-small .slidedeck-cover .slidedeck-cover-curatedby { display: none; } 
.slidedeck-cover-light .slidedeck-cover .slidedeck-cover-curatedby,
.slidedeck-cover-dark .slidedeck-cover .slidedeck-cover-curatedby { color: #444; }
.slidedeck-cover .slidedeck-cover-curatedby img {
    position: relative;
    margin: 0 !important;
    top: 3px;
    border: 1px solid #fff;
    width: 15px !important;
}



/** Wood Cover **/
.slidedeck-cover-style-wood .slidedeck-cover-wrapper .slidedeck-cover-outer {
	margin-left: 8.3%;
	margin-right: 75px;
}
.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/wood.jpg) center left no-repeat;
}
.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-wrapper-back {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
	border-right: 1px solid #c89981;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M5YTA3YyIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlMWIwZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, rgba(201,160,124,0.2) 0%, rgba(62,27,15,0.2) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(201,160,124,0.2)), color-stop(100%,rgba(62,27,15,0.2))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(201,160,124,0.2) 0%,rgba(62,27,15,0.2) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(201,160,124,0.2) 0%,rgba(62,27,15,0.2) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(201,160,124,0.2) 0%,rgba(62,27,15,0.2) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(201,160,124,0.2) 0%,rgba(62,27,15,0.2) 100%); /* W3C */
}
.msie-7.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner,
.msie-8.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333e1b0f', endColorstr='#33c9a07c',GradientType=1 ); /* IE6-8 */
}
.slidedeck-cover-style-wood.slidedeck-cover-peek .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.slidedeck-cover-style-wood.slidedeck-cover-peek .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-box-shadow: 0 0 14px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 14px rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 14px rgba(0,0,0,0.2);
	box-shadow: 0 0 14px rgba(0,0,0,0.2);
}
.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-copy .slidedeck-cover-title {
	color: #230d01;
	text-shadow: 0 1px 1px #a26342;
	font-weight: bold;
}
.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-curatedby {
	color: #ddd;
	left: 8.3%;
}
.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-nav-button {
	position: absolute;
	z-index: 100;
	top: 50%;
	right: 11px;
	height: 208px;
	width: 46px;
	margin: -104px 0 0 0;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/wood-open.png) 0 0 no-repeat;
	text-indent: -999em;
}
.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-nav-button {
    right: auto;
    left: 11px;
}
.slidedeck-cover-style-wood .slidedeck-cover .slidedeck-cover-nav-button:hover { background-position: -46px 0; }

/* Wood CTA */
.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-cta {
    position: relative;
    background-color: rgba(0, 0, 0, 0.18);
    display: block;
    float: left;
    padding: 9px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    -webkit-box-shadow: 0 2px 5px 2px #000000 inset;
    -moz-box-shadow: 0 2px 5px 2px #000000 inset;
    -o-box-shadow: 0 2px 5px 2px #000000 inset;
    box-shadow: 0 2px 5px 2px #000000 inset;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-cta .slidedeck-cover-color {
    position: absolute;
    z-index: 1;
    border: 1px solid #000;
    bottom: 9px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,0.65);
    -moz-box-shadow: 0 0 5px 3px rgba(0,0,0,0.65);
    -o-box-shadow: 0 0 5px 3px rgba(0,0,0,0.65);
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.65);
    left: 9px;
    right: 9px;
    top: 9px;
}
.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-cta .text {
    position: relative;
    display: block;
    z-index: 2;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    -o-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 51%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(51%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 51%,rgba(0,0,0,0.4) 100%); /* W3C */
}
.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-cta:active .text {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA3Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.07) 51%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(51%,rgba(0,0,0,0.07)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.07) 51%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.07) 51%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.07) 51%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.07) 51%,rgba(255,255,255,0) 100%); /* W3C */
}
.msie-8.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-cta,
.msie-7.slidedeck-cover-style-wood .slidedeck-cover-back .slidedeck-cover-cta {
    position: relative;
    left:-9px;
}

/** Fabric Style Cover **/
.slidedeck-cover-style-fabric .slidedeck-cover-wrapper .slidedeck-cover-outer {
	margin-left: 8.3%;
	margin-right: 50px;
}
.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/fabric.jpg);
	-webkit-box-shadow: 0 0 15px #000;
	-moz-box-shadow: 0 0 15px #000;
	-o-box-shadow: 0 0 15px #000;
	box-shadow: 0 0 15px #000;
}
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-wrapper .slidedeck-cover-middle {
    padding-left: 10px;
}
.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNWU1ZSIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlMGYwZiIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(92,94,94,0.2) 0%, rgba(14,15,15,0.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,94,94,0.2)), color-stop(100%,rgba(14,15,15,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(92,94,94,0.2) 0%,rgba(14,15,15,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(92,94,94,0.2) 0%,rgba(14,15,15,0.2) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(92,94,94,0.2) 0%,rgba(14,15,15,0.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(92,94,94,0.2) 0%,rgba(14,15,15,0.2) 100%); /* W3C */
}
.msie-7.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner,
.msie-8.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335c5e5e', endColorstr='#330e0f0f',GradientType=0 ); /* IE6-8 */
}
/* Fabric nav tab */
.slidedeck-cover-style-fabric .slidedeck-cover-nav-button {
	position: absolute;
	display: block;
	z-index: 10;
	top: 50%;
	margin-top: -20px;
	right: 14px;
	width: 71px;
	height: 40px;
	text-indent: -999em;
	-webkit-transition: right 0.25s ease-out;
	-moz-transition: right 0.25s ease-out;
	-o-transition: right 0.25s ease-out;
	transition: right 0.25s ease-out;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
/* Fabric nav tab back cover */
.slidedeck-cover-style-fabric .slidedeck-cover-nav-button.slidedeck-cover-restart {
	right: auto;
    left: 11px;
    -webkit-transition: left 0.25s ease-out;
    -moz-transition: left 0.25s ease-out;
    -o-transition: left 0.25s ease-out;
    transition: left 0.25s ease-out;
}
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-nav-button {
	z-index: 1;
	right: -57px;
}
.slidedeck-cover-style-fabric .slidedeck-cover-nav-button:hover {
    right: 24px;
}
.slidedeck-cover-style-fabric .slidedeck-cover-back .slidedeck-cover-nav-button:hover {
    right: auto;
    left: 20px;
}
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-nav-button:hover {
    right: -67px;
}
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-back .slidedeck-cover-nav-button:hover {
    right: auto;
    left: 20px;
}

/* Fabric nav tab back cover peek */
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-nav-button.slidedeck-cover-restart {
    right: auto;
    left: -50px;
    z-index: 2;
}
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-nav-button.slidedeck-cover-restart:hover {
    left: -60px;
}

.slidedeck-cover-style-fabric .slidedeck-cover-nav-button .slidedeck-cover-color {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/fabric-tab-and-button-stripes.png) -19px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.slidedeck-cover-style-fabric .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-color {
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/fabric-tab-and-button-stripes.png) 21px -40px;
}
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-nav-button .slidedeck-cover-color {
	background-position: 0 0;
}
/* Fabric nav tab back cover peek */
.slidedeck-cover-style-fabric.slidedeck-cover-peek .slidedeck-cover-nav-button.slidedeck-cover-restart .slidedeck-cover-color {
	background-position: 0 -40px;
}

.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-binding {
	position: absolute;
	z-index: 100;
	top: 10px;
	right: 10px;
	bottom: 10px;
	width: 16px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/fabric.jpg);
	-webkit-box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
	-o-box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
	box-shadow: 1px 3px 5px rgba(0,0,0,0.4);
	text-indent: -999em;
}
.slidedeck-cover-style-fabric .slidedeck-cover-back .slidedeck-cover-binding {
    right: auto;
    left: 10px;
}
.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-binding .slidedeck-cover-binding-highlight {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-o-opacity: 0.5;
	opacity: 0.5;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjNjQ2NTY1IiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5NSUiIHN0b3AtY29sb3I9IiMwZTBmMGYiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZjBmIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #000 0%, rgba(0,0,0,0.75) 5%, rgba(160,163,170,0.25) 25%, rgba(100,101,101,0.5) 70%, rgba(14,15,15,0.75) 95%, #000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(5%,rgba(0,0,0,0.75)), color-stop(25%,rgba(160,163,170,0.25)), color-stop(70%,rgba(100,101,101,0.5)), color-stop(95%,rgba(14,15,15,0.75)), color-stop(100%,#000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000 0%,rgba(0,0,0,0.75) 5%,rgba(160,163,170,0.25) 25%,rgba(100,101,101,0.5) 70%,rgba(14,15,15,0.75) 95%,#000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000 0%,rgba(0,0,0,0.75) 5%,rgba(160,163,170,0.25) 25%,rgba(100,101,101,0.5) 70%,rgba(14,15,15,0.75) 95%,#000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000 0%,rgba(0,0,0,0.75) 5%,rgba(160,163,170,0.25) 25%,rgba(100,101,101,0.5) 70%,rgba(14,15,15,0.75) 95%,#000 100%); /* IE10+ */
	background: linear-gradient(top, #000 0%,rgba(0,0,0,0.75) 5%,rgba(160,163,170,0.25) 25%,rgba(100,101,101,0.5) 70%,rgba(14,15,15,0.75) 95%,#000 100%); /* W3C */
	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.25);
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.25);
	-o-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.25);
	box-shadow: inset 1px 1px 1px rgba(255,255,255,0.25);
}
.msie-7.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-nav-button .slidedeck-cover-button,
.msie-8.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-nav-button .slidedeck-cover-button {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf0e0f0f',GradientType=0 ); /* IE6-8 */
}
.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-curatedby {
	color: #ddd;
	left: 8.3%;
	bottom: 20px;
}
.slidedeck-cover-style-fabric .slidedeck-cover .slidedeck-cover-copy .slidedeck-cover-title {
	color: #ddd;
	text-shadow: 0 -2px 1px rgba(0,0,0,0.85);
}
.slidedeck-cover-style-fabric .slidedeck-cover-back .slidedeck-cover-copy .slidedeck-cover-title {
	margin-bottom: 10px;
}
.slidedeck-cover-style-fabric .slidedeck-cover-inner {
    padding-right: 60px;
}
.slidedeck-cover-peek.slidedeck-cover-style-fabric .slidedeck-cover-inner {
    padding-right: 0px;
}
.slidedeck-cover-style-fabric .slidedeck-cover-back .slidedeck-cover-cta {
    display: block;
    position: relative;
    text-decoration: none;
    color: #fff;
    float: left;
    width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    height: 49px;
    padding: 5px 9px;
    line-height: 49px;
    background: red;
    -webkit-box-shadow: inset 0px 1px 0px #1b1b1b;
    -moz-box-shadow: inset 0px 1px 0px #1b1b1b;
    -o-box-shadow: inset 0px 1px 0px #1b1b1b;
    box-shadow: inset 0px 1px 0px #1b1b1b;
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2MzYzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjFiMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: #363636; /* Old browsers */
    background: -moz-linear-gradient(top, #363636 0%, #1b1b1b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#363636), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #363636 0%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #363636 0%,#1b1b1b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #363636 0%,#1b1b1b 100%); /* IE10+ */
    background: linear-gradient(top, #363636 0%,#1b1b1b 100%); /* W3C */
}
.slidedeck-cover-style-fabric .slidedeck-cover-back .slidedeck-cover-cta .slidedeck-cover-color {
    position: absolute;
    z-index: 1;
    top: 5px;
    bottom: 5px;
    left: 9px;
    right: 9px;
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/fabric-tab-and-button-stripes.png);
    background-position: 0 -80px;
    background-repeat: repeat-x;
    
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5), inset 0px 2px 2px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5), inset 0px 2px 2px rgba(255,255,255,0.8);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.5), inset 0px 2px 2px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5), inset 0px 2px 2px rgba(255,255,255,0.8);

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    
}
.slidedeck-cover-style-fabric .slidedeck-cover-back .slidedeck-cover-cta .text {
    position: relative;
    display: block;
    height: 47px;
    padding: 0 20px;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.5);
    text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
    overflow: hidden;
}

/** Leather Style **/
.slidedeck-cover-style-leather .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/leather-dark.jpg);
    border-right: 1px solid #000;
}
.slidedeck-cover-style-leather .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
    position: absolute;
    display: block;
    top: 8px;
    right: 0;
    bottom: 8px;
    left: 108px;
    margin: 0;
    border-width: 8px 0 8px 8px;
    -moz-border-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/border-dashed.png) 9 repeat;
    -webkit-border-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/border-dashed.png) 9 repeat;
    -o-border-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/border-dashed.png) 9 repeat;
    border-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/border-dashed.png) 9 repeat;
}
.slidedeck-cover-style-leather .slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back .slidedeck-cover-wrapper-back-inner {
    right: 108px;
    bottom: 8px;
    left: 0;
    border-width: 8px 8px 8px 0;
}
.slidedeck-cover-style-leather .slidedeck-cover-back .slidedeck-cover-middle {
    padding-left: 40px;
}
.slidedeck-cover-style-leather .slidedeck-cover-back .slidedeck-cover-nav-button.slidedeck-cover-restart {
    right: auto;
    left: 0;
}
.slidedeck-cover-style-leather.slidedeck-cover-peek .slidedeck-cover-back .slidedeck-cover-nav-button.slidedeck-cover-restart {
    right: auto;
    left: -42px;
}
.slidedeck-cover-style-leather .slidedeck-cover-back .slidedeck-cover-nav-button.slidedeck-cover-restart .slidedeck-cover-button {
    text-indent: 9999em;
}
.slidedeck-cover-style-leather .slidedeck-cover .slidedeck-cover-curatedby { color: #fff; }
.slidedeck-cover-style-leather .slidedeck-cover-nav-button {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -41px;
    width: 42px;
    height: 82px;
    z-index: 10;
}
.slidedeck-cover-peek.slidedeck-cover-style-leather .slidedeck-cover-nav-button {
    right: -42px;
    z-index: 1;
}
.slidedeck-cover-style-leather .slidedeck-cover-nav-button .slidedeck-cover-color,
.slidedeck-cover-style-leather .slidedeck-cover-nav-button .slidedeck-cover-button {
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 42px;
    height: 84px;
    overflow: hidden;
}

/* Leather Style Rounded corner on tab cleanup for front cover */
.slidedeck-cover-style-leather .slidedeck-cover-nav-button .slidedeck-cover-color {
    -webkit-border-top-left-radius: 44px;
    -webkit-border-bottom-left-radius: 44px;
    -moz-border-radius-topleft: 44px;
    -moz-border-radius-bottomleft: 44px;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
}
.slidedeck-cover-style-leather.slidedeck-cover-peek .slidedeck-cover-nav-button .slidedeck-cover-color {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 44px;
    -webkit-border-bottom-right-radius: 44px;
    -moz-border-radius-topright: 44px;
    -moz-border-radius-bottomright: 44px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
}

/* Leather Style Rounded corner on tab cleanup for back cover */
.slidedeck-cover-style-leather.slidedeck-cover-peek .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-color {
    -webkit-border-top-left-radius: 44px;
    -webkit-border-bottom-left-radius: 44px;
    -moz-border-radius-topleft: 44px;
    -moz-border-radius-bottomleft: 44px;
    border-top-left-radius: 44px;
    border-bottom-left-radius: 44px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.slidedeck-cover-style-leather .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-color {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-right-radius: 44px;
    -webkit-border-bottom-right-radius: 44px;
    -moz-border-radius-topright: 44px;
    -moz-border-radius-bottomright: 44px;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
}

.slidedeck-cover-style-leather .slidedeck-cover-nav-button .slidedeck-cover-button {
    z-index: 3;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/leather-button-sprite.png) no-repeat -4px 0px;
}
.slidedeck-cover-style-leather.slidedeck-cover-peek .slidedeck-cover-nav-button .slidedeck-cover-button {
    z-index: 3;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/leather-button-sprite.png) no-repeat -46px 0px;
}
.slidedeck-cover-style-leather .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-button {
    background-position: -47px -83px;
}
.slidedeck-cover-style-leather.slidedeck-cover-peek .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-button {
    background-position: -3px -83px;
}
.slidedeck-cover-style-leather.slidedeck-cover-peek .slidedeck-cover-nav-button .slidedeck-cover-semicircle {
    position: absolute;
    z-index: 1;
    width: 48px;
    height: 86px;
    top: -2px;
    right: -4px;
    left: 0;
    bottom: -2px;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/leather-button-sprite.png) -46px -166px no-repeat;
}
.slidedeck-cover-style-leather.slidedeck-cover-peek .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-semicircle {
    right: auto;
    left: -4px;
    background-position: 0 -166px;
}
.slidedeck-cover-style-leather .slidedeck-cover-inner {
    padding-right: 50px;
}
.slidedeck-cover-peek.slidedeck-cover-style-leather .slidedeck-cover-inner {
    padding-right: 10px;
}

.slidedeck-cover-style-leather .slidedeck-cover-cta {
    display: block;
    position: relative;
    color: #fff;
    width: auto;
    float: left;
    height: 56px;
    font-size: 1.5em;
    padding: 0 32px 0 32px;
    line-height: 56px;
    text-decoration: none;
    font-weight: bold;
    left: -10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slidedeck-cover-style-leather .slidedeck-cover-cta .cap1-image,
.slidedeck-cover-style-leather .slidedeck-cover-cta .cap2-image {
    content: '';
    display: block;
    right: -32px;
    position: absolute;
    top: 0;
    width: 32px;
    bottom: 0;
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/leather-button-sprite.png);
    background-position: 0 -252px;
    background-repeat: no-repeat;
}
.slidedeck-cover-style-leather .slidedeck-cover-cta .cap1-image {
    right: auto;
    left: 0;
    background-position: 0 -309px;
}
.slidedeck-cover-style-leather .slidedeck-cover-cta span.text {
    height: 57px;
    position: relative;
    display: block;
    padding: 0 10px;
    z-index: 2;
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/leather-button-sprite.png);
    background-position: 0 100%;
    background-repeat: repeat-x;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.33);
    overflow: hidden;
}
.slidedeck-cover-style-leather .slidedeck-cover-cta .slidedeck-cover-color {
    left: 32px;
    position: absolute;
    right: 32px;
    top: 0;
    bottom: 0;
}
.slidedeck-cover-style-leather .slidedeck-cover-cta .cap1{
    display: block;
    height: 57px;
    position: absolute;
    left: 3px;
    top: -1px;
    width: 32px;
}
.slidedeck-cover-style-leather .slidedeck-cover-cta .slidedeck-cover-color .cap2{
    display: block;
    height: 57px;
    position: absolute;
    right: -32px;
    top: -1px;
    width: 32px;
}
.slidedeck-cover-style-leather .slidedeck-cover-back .slidedeck-cover-title {
    margin-bottom: .27em;
}

/** Start of Modern Style **/
.slidedeck-cover-style-modern .slidedeck-cover .slidedeck-cover-wrapper {
    background: #252525 url(/wp-content/plugins/slidedeck2-personal/css/../images/modern-edge.png) 100% repeat-y;
}
.slidedeck-cover-style-modern .slidedeck-cover-back .slidedeck-cover-wrapper {
    background: #252525 url(/wp-content/plugins/slidedeck2-personal/css/../images/modern-edge.png) 0 repeat-y;
    padding: 0;
    margin: 0;
}
.slidedeck-cover-style-modern .slidedeck-cover-nav-button .slidedeck-cover-button {
	text-indent: -9999em;
}
.slidedeck-frame.sd2-small.slidedeck-cover-style-modern .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle,
.slidedeck-frame.sd2-medium.slidedeck-cover-style-modern .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle,
.slidedeck-frame.sd2-large.slidedeck-cover-style-modern .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle,
.slidedeck-cover-style-modern .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle{
    padding-right: 90px;
}
.slidedeck-cover-style-modern .slidedeck-cover-nav-button {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 52px;
    height: 52px;
}
.slidedeck-cover-style-modern .slidedeck-cover-nav-button .slidedeck-cover-button{
    z-index: 11;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/modern-button.png);
}
.slidedeck-cover-style-modern .slidedeck-cover-restart {
	right: auto;
	left: 10px;
}
.slidedeck-cover-style-modern .slidedeck-cover-nav-button:hover .slidedeck-cover-button { background-position: 0 -52px; }
.slidedeck-cover-style-modern .slidedeck-cover-nav-button:active .slidedeck-cover-button { background-position: 0 -104px; }
.slidedeck-cover-style-modern .slidedeck-cover-restart .slidedeck-cover-button {
	background-position: 100% 0;
}
.slidedeck-cover-style-modern .slidedeck-cover-restart .slidedeck-cover-button:hover { background-position: 100% -52px; }
.slidedeck-cover-style-modern .slidedeck-cover-restart .slidedeck-cover-button:active { background-position: 100% -104px }

.slidedeck-cover-style-modern .slidedeck-cover-nav-button .slidedeck-cover-color{
    width: 28px;
    height: 28px;
    position: absolute;
    top: 12px;
    left: 12px;
    display: block;
}
.slidedeck-cover-style-modern .slidedeck-cover-cta {
	border: solid 1px #111;
	padding: 5px 6px;
	background-color: #1d1d1d;
	background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/modern-button-background.png);
	background-repeat: repeat;
	display: block;
	position: relative;
	float: left;
	width: auto;
	text-decoration: none;
	color: #fff;
	font-size: 1.4em;
	font-weight: bold;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px -1px 0px rgba(255,255,255,0.15);
	-moz-box-shadow: 0px -1px 0px rgba(255,255,255,0.15);
	-o-box-shadow: 0px -1px 0px rgba(255,255,255,0.15);
	box-shadow: 0px -1px 0px rgba(255,255,255,0.15);
}
.slidedeck-cover-style-modern .slidedeck-cover-cta .slidedeck-cover-color {
	background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/modern-button-shine.png);
	background-position: 50% 50%;
	height: 53px;
	position: absolute;
	display: block;
	top: 5px;
	left: 6px;
	right: 6px;
	bottom: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	z-index: 1;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
	-o-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/modern-button-shine.png', sizingMethod='scale');
}
.slidedeck-cover-style-modern .slidedeck-cover-cta .text {
	z-index: 2;
	padding: 0 18px;
	line-height: 53px;
	position: relative;
	display: block;
}

/** End of Modern Style **/


/** Start of Glass Style **/
.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-wrapper {
    background: rgba(255,255,255,0.25);
    -webkit-box-shadow: inset 0px 0px 3px #fff;
    -moz-box-shadow: inset 0px 0px 3px #fff;
    -o-box-shadow: inset 0px 0px 3px #fff;
    box-shadow: inset 0px 0px 3px #fff;
    color: #333;
}
.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-title {
	color: #30353b;
}
.slidedeck-cover-style-glass .slidedeck-cover .frosted-glass,
.slidedeck-cover-style-glass .slidedeck-cover .frosted-glass-back {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 25px;
    bottom: 25px;
    right: 25px;
    -webkit-box-shadow: 0px 0px 6px #999;
    -moz-box-shadow: 0px 0px 6px #999;
    -o-box-shadow: 0px 0px 6px #999;
    box-shadow: 0px 0px 6px #999;
}
.slidedeck-cover-style-glass.sd2-small .slidedeck-cover .frosted-glass,
.slidedeck-cover-style-glass.sd2-small .slidedeck-cover .frosted-glass-back {
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
}
.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-outer {
    position: relative;
    z-index: 2;
    margin-left: 10%;
}
.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-curatedby{
    left: 0;
    bottom: 50px;
    color: #333;
}
.slidedeck-frame.sd2-small.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle,
.slidedeck-frame.sd2-medium.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle,
.slidedeck-frame.sd2-large.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle,
.slidedeck-cover-style-glass .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-middle{
    padding-right: 90px;
}
.slidedeck-cover-style-glass .slidedeck-cover-nav-button {
    position: absolute;
    display: block;
    z-index: 10;
    right: 33px;
    top: 50%;
    margin-top: -25px;
    width: 52px;
    height: 52px;
    overflow: hidden;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/spacer.gif);
}
.slidedeck-cover-style-glass.sd2-small .slidedeck-cover-nav-button {
    right: 19px;
}
.slidedeck-cover-style-glass .slidedeck-cover-nav-button.slidedeck-cover-restart {
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/glass-arrows.png) -57px -4px;
	height: 44px;
	left: 43px;
	margin-top: -22px;
	position: absolute;
	text-indent: 9999em;
	top: 50%;
	width: 44px;
}
.slidedeck-cover-style-glass .slidedeck-cover-nav-button.slidedeck-cover-restart:hover {
	background-position: -57px -54px;
}
.slidedeck-cover-style-glass .slidedeck-cover-nav-button.slidedeck-cover-restart:active {
	background-position: -57px -104px;
}
.slidedeck-cover-style-glass .slidedeck-cover-cta {
	display: block;
	position: relative;
	float: left;
	background: #30353B;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	padding: 1em;
	text-decoration: none;
}
.slidedeck-cover-style-glass .slidedeck-cover-cta:hover {
	background: #59626e;
}
.slidedeck-cover-style-glass .slidedeck-cover-cta:active {
	top: 1px;
	left: 1px;
}

/** End of Glass Style **/


/** Book Style **/
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book.png);
	-webkit-box-shadow: inset 0 2px 3px #b9ad9e, 0 0 14px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 2px 3px #b9ad9e, 0 0 14px rgba(0,0,0,0.2);
	-o-box-shadow: inset 0 2px 3px #b9ad9e, 0 0 14px rgba(0,0,0,0.2);
	box-shadow: inset 0 2px 3px #b9ad9e, 0 0 14px rgba(0,0,0,0.2);
}

.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-binding,
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-binding-highlight {
    position: absolute;
    display: block;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 80px;
    margin: 0;
    width: 80px;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-binding.png) 32px top repeat-y;
}
.slidedeck-cover-style-book .slidedeck-cover.slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-binding,
.slidedeck-cover-style-book .slidedeck-cover.slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-binding-highlight {
    background-position: -48px top;
}
.slidedeck-cover-style-book .slidedeck-cover.slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-binding {
    left: auto;
    right: 80px;
}
.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-outer {
    margin: 0;
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-binding-highlight {
	left: 0;
	-webkit-box-shadow: inset 0 2px 3px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0 2px 3px rgba(255,255,255,0.5);
	-o-box-shadow: inset 0 2px 3px rgba(255,255,255,0.5);
	box-shadow: inset 0 2px 3px rgba(255,255,255,0.5);
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-binding .slidedeck-cover-color {
	position: absolute;
	z-index: 1;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-binding-texture.png);
}
.slidedeck-cover-style-book .slidedeck-cover-wrapper .slidedeck-cover-outer {
    margin-left: 112px;
    margin-right: 130px;
}
.slidedeck-cover-style-book.slidedeck-cover-peek .slidedeck-cover-wrapper .slidedeck-cover-outer {
    margin-right: 40px;
}
.slidedeck-cover-style-book .slidedeck-cover-wrapper .slidedeck-cover-middle { padding-right: 130px; }
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-inner {
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-border.png) bottom left repeat-x;
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-copy .slidedeck-cover-title {
	text-shadow: -1px -1px 1px rgba(0,0,0,0.4);
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-curatedby {
	position: relative;
	color: #fff;
	left: auto;
	bottom: auto;
	margin-left: 0;
	margin-top: 20px;
	font-size: 1em;
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-nav-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	right: 17px;
	width: 101px;
	height: 72px;
	margin-top: -40px;
}
.slidedeck-cover-peek.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-nav-button {
	width: 90px;
	right: -71px;
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-nav-button .slidedeck-cover-button {
	position: relative;
	display: block;
	z-index: 20;
	width: 101px;
	height: 80px;
	left: -4px;
	top: -1px;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-button.png);
}
.slidedeck-cover-peek.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-nav-button .slidedeck-cover-button {
	width: 94px;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-button-peek.png);
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-nav-button .slidedeck-cover-color {
	position: absolute;
	display: block;
	z-index: 10;
	overflow: hidden;
	top: 4px;
	right: 0;
	bottom: -4px;
	left: 0;
}
.slidedeck-cover-peek.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-nav-button .slidedeck-cover-color {
	top: 0;
	bottom: 0;
}
/* Book Style Back cover */
.slidedeck-cover-style-book .slidedeck-cover-wrapper .slidedeck-cover-middle {
    padding: 0;
}
.slidedeck-cover-style-book .slidedeck-cover.slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-button {
    width: 101px;
    height: 83px;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-button-restart.png) 0 -3px;
	text-indent: -9999em;
}
.slidedeck-cover-style-book .slidedeck-cover.slidedeck-cover-back .slidedeck-cover-nav-button {
    right: auto;
    left: -63px;
}
.slidedeck-cover-style-book .slidedeck-cover .slidedeck-cover-nav-button {
    width: 90px;
}
.slidedeck-cover-style-book .slidedeck-cover.slidedeck-cover-back .slidedeck-cover-nav-button {
    right: auto;
    left: 52px;
}
.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-button {
    width: 94px;
}
.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-nav-button .slidedeck-cover-color {
    bottom: -4px;
    top: 0;
}
.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-middle {
    padding-left: 180px;
    padding-right: 80px;
}
.slidedeck-cover-peek.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-nav-button {
    left: -71px;
    right: auto;
}
.slidedeck-cover-peek.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-middle {
    padding-left: 50px;
}
.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-wrapper .slidedeck-cover-inner {
    background: none;
}
.slidedeck-cover-style-book .slidedeck-cover-back .slidedeck-cover-title {
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-border.png) bottom left repeat-x;
}
/* Book Style CTA */
.slidedeck-cover-style-book .slidedeck-cover-cta .slidedeck-cover-color,
.slidedeck-cover-style-book .slidedeck-cover-cta {
    display: block;
    position: relative;
    color: #fff;
    width: auto;
    float: left;
    height: 65px;
    font-size: 1.5em;
    padding: 0 18px 0 17px;
    line-height: 65px;
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-cta-button.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slidedeck-cover-style-book .slidedeck-cover-cta .slidedeck-cover-color:after {
    content: '';
    display: block;
    right: 0;
    position: absolute;
    top: 0;
    width: 18px;
    bottom: 0;
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-cta-button.png);
    background-position: 0 -65px;
    background-repeat: no-repeat;
}
.slidedeck-cover-style-book .slidedeck-cover-cta span.text {
    height: 65px;
    position: relative;
    display: block;
    padding: 0 10px;
    z-index: 2;
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-cta-button.png);
    background-position: 0 -130px;
    background-repeat: repeat-x;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.33);
    overflow: hidden;
}
.slidedeck-cover-style-book .slidedeck-cover-cta .slidedeck-cover-color {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* Start of Dark Variation */
.slidedeck-cover-style-book.slidedeck-cover-dark .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-dark.png);
}
/* End of Dark Variation */

/* Start of Light Variation */
.slidedeck-cover-style-book.slidedeck-cover-light .slidedeck-cover .slidedeck-cover-wrapper .slidedeck-cover-wrapper-back {
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/book-light.png);
}
.slidedeck-cover-style-book.slidedeck-cover-light .slidedeck-cover-wrapper {
    color: #636363;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
}
.slidedeck-cover-style-book.slidedeck-cover-light .slidedeck-cover-curatedby {
    color: #7d7d7d;
}
/* End of Light Variation */



/* Default navigation */
/* Prev/Next Navigation Buttons */
.slidedeck-frame a.deck-navigation {
    display: block;
    height: 0;
    overflow: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=50);
    -ms-filter:"alpha(Opacity=50)";
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.slidedeck-frame:hover a.deck-navigation,
.slidedeck-frame.hover a.deck-navigation,
.slidedeck-frame.display-nav-always a.deck-navigation {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter:"alpha(Opacity=100)";
}
.slidedeck-frame.display-nav-never a.deck-navigation { display: none !important; }
.slidedeck-frame a.deck-navigation.horizontal {
    overflow: hidden;
    position: absolute;
    outline: none;
    top: 50%;
    padding: 0;
    margin: 0;
    z-index: 50;
}

/* If the force-nav-hidden class is present, we override */
.slidedeck-frame.force-nav-hidden a.deck-navigation { display: none; }

/* Start Prev/Next Navigation Buttons - Size Variations */
.default-nav-styles.sd2-large a.deck-navigation.horizontal,
.default-nav-styles.sd2-large a.deck-navigation.vertical {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.default-nav-styles.sd2-large a.deck-navigation.vertical {
    margin-top: 0;
}
.default-nav-styles a.deck-navigation.vertical,
.default-nav-styles a.deck-navigation.horizontal {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.default-nav-styles a.deck-navigation.vertical {
    margin-top: 0;
}
.default-nav-styles a.deck-navigation.vertical span,
.default-nav-styles a.deck-navigation.horizontal span { padding-top: 40px; }
.default-nav-styles a.deck-navigation.horizontal.prev { left: 10px; }
.default-nav-styles a.deck-navigation.horizontal.next { right: 10px; }
.default-nav-styles a.deck-navigation.horizontal.next span { background-position: -40px 0; }
.default-nav-styles a.deck-navigation.vertical.next span { background-position: 0 -40px; }


.default-nav-styles.sd2-large a.deck-navigation.vertical span,
.default-nav-styles.sd2-large a.deck-navigation.horizontal span { padding-top: 60px; }
.default-nav-styles.sd2-large a.deck-navigation.horizontal.prev { left: 10px; }
.default-nav-styles.sd2-large a.deck-navigation.horizontal.next { right: 10px; }
.default-nav-styles.sd2-large a.deck-navigation.horizontal.next span { background-position: -60px 0; }
.default-nav-styles.sd2-large a.deck-navigation.vertical.next span { background-position: 0 -60px; }

.default-nav-styles.sd2-medium a.deck-navigation.horizontal,
.default-nav-styles.sd2-medium a.deck-navigation.vertical {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.default-nav-styles.sd2-medium a.deck-navigation.vertical {
    margin-top: 0;
}
.default-nav-styles.sd2-medium a.deck-navigation.vertical span,
.default-nav-styles.sd2-medium a.deck-navigation.horizontal span { padding-top: 40px; }
.default-nav-styles.sd2-medium a.deck-navigation.horizontal.prev { left: 10px; }
.default-nav-styles.sd2-medium a.deck-navigation.horizontal.next { right: 10px; }
.default-nav-styles.sd2-medium a.deck-navigation.horizontal.next span { background-position: -40px 0; }
.default-nav-styles.sd2-medium a.deck-navigation.vertical.next span { background-position: 0 -40px; }

.default-nav-styles.sd2-small a.deck-navigation.horizontal,
.default-nav-styles.sd2-small a.deck-navigation.vertical {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.default-nav-styles.sd2-small a.deck-navigation.vertical {
    margin-top: 0;
}
.default-nav-styles.sd2-small a.deck-navigation.vertical span,
.default-nav-styles.sd2-small a.deck-navigation.horizontal span {    padding-top: 30px; }
.default-nav-styles.sd2-small a.deck-navigation.horizontal.prev { left: 10px; }
.default-nav-styles.sd2-small a.deck-navigation.horizontal.next { right: 10px; }
.default-nav-styles.sd2-small a.deck-navigation.vertical.next span,
.default-nav-styles.sd2-small a.deck-navigation.horizontal.next span { background-position: -30px 0; }
.default-nav-styles.sd2-small a.deck-navigation.vertical.next span { background-position: 0 -30px; }

.default-nav-styles a.deck-navigation.vertical,
.default-nav-styles a.deck-navigation.horizontal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5), inset 0px 2px 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5), inset 0px 2px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5), inset 0px 2px 1px 1px rgba(0, 0, 0, .5);
}
.default-nav-styles a.deck-navigation.vertical:hover,
.default-nav-styles a.deck-navigation.horizontal:hover { background-color: rgba(0, 0, 0, .8); }
.default-nav-styles a.deck-navigation.vertical:active,
.default-nav-styles a.deck-navigation.horizontal:active {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5), inset 0px 2px 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5), inset 0px 2px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, .5), inset 0px 2px 1px 1px rgba(0, 0, 0, .5); 
}



.default-nav-styles a.deck-navigation.horizontal span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-med.png);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles a.deck-navigation.horizontal:hover span {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.default-nav-styles.sd2-large a.deck-navigation.horizontal span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-lrg.png);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles.sd2-large a.deck-navigation.horizontal:hover span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-lrg.png);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.default-nav-styles.sd2-medium a.deck-navigation.horizontal span { 
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-med.png); 
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles.sd2-medium a.deck-navigation.horizontal:hover span { 
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-med.png); 
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.default-nav-styles.sd2-small a.deck-navigation.horizontal span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-sml.png);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles.sd2-small a.deck-navigation.horizontal:hover span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-sml.png);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}



.default-nav-styles a.deck-navigation.vertical span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-vert-med.png);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles a.deck-navigation.vertical:hover span {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.default-nav-styles.sd2-large a.deck-navigation.vertical span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-vert-lrg.png);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles.sd2-large a.deck-navigation.vertical:hover span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-vert-lrg.png);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.default-nav-styles.sd2-medium a.deck-navigation.vertical span { 
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-vert-med.png); 
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles.sd2-medium a.deck-navigation.vertical:hover span { 
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-vert-med.png); 
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.default-nav-styles.sd2-small a.deck-navigation.vertical span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-vert-sml.png);
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.default-nav-styles.sd2-small a.deck-navigation.vertical:hover span {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/default-navigation-arrows/arrow-nav-dark-vert-sml.png);
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}



.default-nav-styles a.deck-navigation.horizontal span {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
}
.default-nav-styles a.deck-navigation.vertical {
	position: absolute;
	z-index: 50;
	left: 50%;
	margin: 0 0 0 -16px;
	width: 32px;
	height: 32px;
	text-indent: -999em;
}
.no-vertical-slide.default-nav-styles a.deck-navigation.vertical { display: none; }
.default-nav-styles a.deck-navigation.vertical.prev {
	top: 20px;
	bottom: auto;
	background-position: 4px 5px;
}
.default-nav-styles a.deck-navigation.vertical.next {
	bottom: 20px;
	top: auto;
	background-position: 4px -57px;
}
.default-nav-styles a.deck-navigation.vertical span {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
}
/* End Prev/Next Navigation Buttons - Size Variations */

.no-content-found-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 10px;
	background: #f2f2f2;
}
.no-content-found-middle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.no-content-found {
	position: relative;
	z-index: 10;
	top: 50%;
	max-width: 722px;
	max-height: 140px;
	width: 100%;
	height: 10.4em;
	margin: -7.2em auto 0;
}
.no-content-found .no-content-found-title {
	position: relative;
	margin:  0 auto 1px;
	width: 90%;
	font-size: 1em;
	line-height: 3.69em;
	max-width: 722px;
	max-height: 41px;
	text-indent: -999em;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/no-content-found.png) top center no-repeat;
	background-size: cover;
	margin-bottom: 2em;
}
.no-content-found .no-content-found-copy {
	position: relative;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/border-triple.png) 0 0 repeat-x;
	padding: 1em 0 0;
	font: italic 2em/1.6em Georigia, serif;
	color: #aeaeae;
	text-shadow: 0 1px 1px #fff;
}
.no-content-found .no-content-source-configuration {
	color: #47414c;
	text-decoration: none;
    outline: none;
    border: 0;
}
.no-content-found .no-content-source-configuration .gear-icon {
	position: relative;
	display: inline-block;
	width: 1.1em;
	height: 1em;
	top: 0.2em;
	background: url(/wp-content/plugins/slidedeck2-personal/css/../images/icon-gear.png) center center no-repeat;
	background-size: cover;
}
.no-content-found .no-content-source-configuration:hover { color: #000; }
.no-content-found .no-content-source-configuration:active,
.no-content-found .no-content-source-configuration::-moz-focus-inner {
    -moz-outline-style: none;
    outline: none;
}
.no-content-found .no-content-source-configuration::-moz-focus-inner { border: 0; }

/* Standard Vertical Centering */
.slidedeck-vertical-center-outer {
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.slidedeck-vertical-center-outer {
    display: table;
    position: static;
    overflow: visible;
}
.slidedeck-vertical-center-middle {
    top: 50%;
    overflow: visible;
}
.msie-7 .slidedeck-vertical-center-middle {
    position: absolute;
}
.slidedeck-vertical-center-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    overflow: visible;
}
.msie-7 .slidedeck-vertical-center-middle { width: auto; }
.slidedeck-vertical-center-inner {
    position: relative;
    top: -50%;
}
.slidedeck-vertical-center-inner {
    position: static;
}
.msie-7 .slidedeck-vertical-center-inner {
    position: relative;
}

/*SlideDeck Bug*/
.slidedeck-frame a.slidedeck-2-bug {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 42px;
    height: 34px;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
    z-index: 100;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.slidedeck-frame a.slidedeck-2-bug:after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #fff;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
    -webkit-transition: border 0.3s 0.3s;
    -moz-transition: border 0.3s 0.3s;
    -o-transition: border 0.3s 0.3s;
    transition: border 0.3s 0.3s;
    z-index: 101;
}
.slidedeck-frame a.slidedeck-2-bug.open {
    width: 145px;
    -webkit-transition: width 0.3s ease-in-out 0.25s;
    -moz-transition: width 0.3s ease-in-out 0.25s;
    -o-transition: width 0.3s ease-in-out 0.25s;
    transition: width 0.3s ease-in-out 0.25s;
}
.slidedeck-frame a.slidedeck-2-bug.open:after {
    border: 3px solid transparent;
    -webkit-transition: border 0.25s;
    -moz-transition: border 0.25s;
    -o-transition: border 0.25s;
    transition: border 0.25s;
}
.slidedeck-frame a.slidedeck-2-bug span {
    position: absolute;
    display: block;
    height: 34px;
}
.slidedeck-frame a.slidedeck-2-bug span.slidedeck-2-bug-logo {
    overflow: hidden;
    background: #708ae9;
    top: 0;
    left: 0;
    width: 42px;
    height: 0;
    padding-top: 34px;
    text-indent: 100%;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
    
    -webkit-transition: -webkit-border-radius 0.25s 0.25s;
    -moz-transition: -moz-border-radius 0.25s 0.25s;
    -o-transition: -o-border-radius 0.25s 0.25s;
    transition: border-radius 0.25s 0.25s;
    
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/slidedeck-bug.png);
}
.slidedeck-frame a.slidedeck-2-bug.open span.slidedeck-2-bug-logo {
    -webkit-border-radius: 11px 0 0 11px;
    -moz-border-radius: 11px 0 0 11px;
    -o-border-radius: 11px 0 0 11px;
    border-radius: 11px 0 0 11px;
    
    -webkit-transition: -webkit-border-radius 0.25s;
    -moz-transition: -moz-border-radius 0.25s;
    -o-transition: -o-border-radius 0.25s;
    transition: border-radius 0.25s;
}
.slidedeck-frame a.slidedeck-2-bug span.slidedeck-2-bug-text {
    width: 103px;
    height: 34px;
    top: 0;
    left: 42px;
    padding: 5px;
    color: #fff;
    font-size: 10px;
    line-height: 11px;
    font-family: sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    -webkit-border-radius: 0 11px 11px 0;
    -moz-border-radius: 0 11px 11px 0;
    -o-border-radius: 0 11px 11px 0;
    border-radius: 0 11px 11px 0;
}
.slidedeck-frame a.slidedeck-2-bug span.slidedeck-2-bug-text strong {
    text-decoration: underline;
}
/*bug small*/
.slidedeck-frame.sd2-small a.slidedeck-2-bug {
    left: 10px;
    bottom: 10px;
    width: 25px;
    height: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
}
.slidedeck-frame.sd2-small a.slidedeck-2-bug:after {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #fff;
}
.slidedeck-frame.sd2-small a.slidedeck-2-bug.open {
    width: 25px;
}
.slidedeck-frame.sd2-small a.slidedeck-2-bug.open:after {
    border: 1px solid transparent;
}
.slidedeck-frame.sd2-small a.slidedeck-2-bug span.slidedeck-2-bug-logo,
.slidedeck-frame.sd2-small a.slidedeck-2-bug.open span.slidedeck-2-bug-logo {
    width: 25px;
    padding-top: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/slidedeck-bug-small.png);
}
.slidedeck-frame.sd2-small a.slidedeck-2-bug span.slidedeck-2-bug-text { display: none; }


/*Full Slide Link*/
.slidedeck-frame a.full-slide-link-hit-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 1000;
}
.slidedeck-frame.sd2-show-link-slide a.full-slide-link-hit-area { display: block; }

/**
 *     Full link slide area and video... 
 * These don't play well together as the play button 
 * will always be under the clickable area.
 */
.slidedeck-frame.sd2-show-link-slide dd.slide-type-video a.full-slide-link-hit-area { display: none; }


/**
 *  Video Play Button Styles... made universal
 */

.slidedeck-frame dl.slidedeck .slide-type-video .video-wrapper .cover .play {
    width: 92px;
    height: 0;
    padding-top: 92px;
    z-index: 101;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -46px;
    margin-left: -46px;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/play-button.png) no-repeat 0 0;
}
.slidedeck-frame dl.slidedeck .slide-type-video .video-wrapper .cover .play:hover,
.slidedeck-frame dl.slidedeck .slide-type-video .video-wrapper .cover .play:active { background-position: 0 -92px; }

.slidedeck-frame.sd2-small dl.slidedeck .slide-type-video .video-wrapper .cover .play {
    width: 52px;
    height: 0;
    padding-top: 52px;
    z-index: 101;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -26px;
    margin-left: -26px;
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/play-button-small.png) no-repeat 0 0;
}
.slidedeck-frame.sd2-small dl.slidedeck .slide-type-video .video-wrapper .cover .play:hover,
.slidedeck-frame.sd2-small dl.slidedeck .slide-type-video .video-wrapper .cover .play:active { background-position: 0 -52px; }

.slidedeck-frame dl.slidedeck dd.sd2-image-scaling-contain .sd2-slide-background { background-size: contain; }
.slidedeck-frame dl.slidedeck dd.sd2-image-scaling-cover .sd2-slide-background { background-size: cover; }
.slidedeck-frame dl.slidedeck dd.sd2-image-scaling-none .sd2-slide-background { background-size: none; }


/* Hide the video cover elements on iOS */
/* This is the best we can do for now to avoid the play video bug */
.slidedeck-frame.sd2-is-ios dl.slidedeck .slide-type-video .video-wrapper .cover {
	display: none !important;
}

.slidedeck-frame.sd2-is-ios dl.slidedeck .slide-type-video .video-wrapper iframe {
	-webkit-transform:scale(0.01);
}
.slidedeck-frame.sd2-is-ios dl.slidedeck .slide-type-video.active .video-wrapper iframe {
	-webkit-transform:scale(1);
}

/* Hide the nav arrows on iOS while the video is playing */
.slidedeck-frame.sd2-is-ios.sd2-video-playing a.deck-navigation {
    visibility: hidden !important;
    opacity: 0 !important; 
}

div.sd2-ress-wrapper {
	overflow: hidden;
}

img.sd2-image-lazy-loading,
div.sd2-image-lazy-loading {
    background: url(/wp-content/plugins/slidedeck2-personal/css/../images/lazy-load-large.gif) no-repeat center center;
    -webkit-background-size: auto auto !important;
    -moz-background-size: auto auto !important;
    -o-background-size: auto auto !important;
    background-size: auto auto !important;
}
.slidedeck-frame.sd2-small img.sd2-image-lazy-loading,
.slidedeck-frame.sd2-small div.sd2-image-lazy-loading {
    background-image: url(/wp-content/plugins/slidedeck2-personal/css/../images/lazy-load-small.gif);
}
