
<table width="480" border="0" align="center">
<tbody>
<tr>
<td width="240">
<div align="center"><img class="alignnone size-full wp-image-113" title="vouchertaster" src="http://clients.telaco.com/royalmile/wp-content/uploads/2011/10/vouchertaster.jpg" alt="" width="200" height="100" /></div></td>
<td width="240">
<div align="center"><img class="alignnone size-full wp-image-114" title="voucherstar" src="http://clients.telaco.com/royalmile/wp-content/uploads/2011/10/voucherstar.jpg" alt="" width="200" height="100" /></div></td>
</tr>
<tr>
<td style="text-align: center;" valign="top">
INCLUDED IN THE TASTER EXPERIENCE

1 BACKING TRACK OF YOUR CHOICE

1 HOUR STUDIO TIME

2 CD COPIES

FREE PHOTO SESSION

ADDITIONAL PARTICIPANTS ADD £25 PER PERSON</td>
<td valign="top" style="text-align: center;">INCLUDED IN THE STAR EXPERIENCE

2 BACKING TRACKS OF YOUR CHOICE

2 HOURS STUDIO TIME - 3 CD COPIES

FREE PHOTO SESSION - ADDITIONAL PARTICIPANTS ADD £25 PER PERSON
</td>
</tr>
<tr>
<td>
<div align="center"><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_s-xclick" /> <input type="hidden" name="hosted_button_id" value="7X66HGGTAJBJ4" /> <input type="image" name="submit" src="https://www.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online." /> <img src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /> </form></div></td>
<td>
<div align="center"><form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_xclick" /> <input type="hidden" name="business" value="sales@offbeat.co.uk" /> <input type="hidden" name="lc" value="GB" /> <input type="hidden" name="item_name" value="STAR GIFT EXPERIENCE" /> <input type="hidden" name="amount" value="135.00" /> <input type="hidden" name="currency_code" value="GBP" /> <input type="hidden" name="button_subtype" value="services" /> <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" /> <input type="image" name="submit" src="https://www.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online." /> <img src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /> </form></div></td>
</tr>
<tr>
<td>
<div align="center"><img class="alignnone size-full wp-image-116" title="vouchersuper" src="http://clients.telaco.com/royalmile/wp-content/uploads/2011/10/vouchersuper.jpg" alt="" width="200" height="100" /></div></td>
<td><img class="size-full wp-image-115 aligncenter" title="vouchermega" src="http://clients.telaco.com/royalmile/wp-content/uploads/2011/10/vouchermega.jpg" alt="" width="200" height="100" /></td>
</tr>
<tr>
<td valign="top">
<div align="center">

INCLUDED IN THE SUPER EXPERIENCE

3 BACKING TRACKS OF YOUR CHOICE

3 HOURS STUDIO TIME - 4 CD COPIES

FREE PHOTO SESSION - ADDITIONAL PARTICIPANTS ADD £25 PER PERSON

</div></td>
<td valign="top">
<div align="center">

INCLUDED IN THE MEGA EXPERIENCE

4 BACKING TRACKS OF YOUR CHOICE

4 HOURS STUDIO TIME - 2 CD COPIES

FREE PHOTO SESSION

ADDITIONAL PARTICIPANTS ADD £25 PER PERSON

</div></td>
</tr>
<tr>
<td height="91"><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<div align="center"><input type="hidden" name="cmd" value="_xclick" /> <input type="hidden" name="business" value="sales@offbeat.co.uk" /> <input type="hidden" name="lc" value="GB" /> <input type="hidden" name="item_name" value="SUPER GIFT EXPERIENCE" /> <input type="hidden" name="amount" value="179.00" /> <input type="hidden" name="currency_code" value="GBP" /> <input type="hidden" name="button_subtype" value="services" /> <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" /> <input type="image" name="submit" src="https://www.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online." /> <img src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /></div>
</form></td>
<td><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<div align="center"><input type="hidden" name="cmd" value="_xclick" /> <input type="hidden" name="business" value="sales@offbeat.co.uk" /> <input type="hidden" name="lc" value="GB" /> <input type="hidden" name="item_name" value="MEGA GIFT EXPERIENCE" /> <input type="hidden" name="amount" value="199.00" /> <input type="hidden" name="currency_code" value="GBP" /> <input type="hidden" name="button_subtype" value="services" /> <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest" /> <input type="image" name="submit" src="https://www.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" alt="PayPal - The safer, easier way to pay online." /> <img src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /></div>
</form></td>
</tr>
</tbody>
</table>